/* regole generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
/* regole header */

header{
    min-height: 450px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;;
}

/* logo su nav */
.logo{

}
/* header parte navbar - jumbotron */
nav{
    display: flex;  
    justify-content: space-around;
    align-items: center;padding-top: 15px;
}

.navigation-bar{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    color: rgba(255, 255, 255, 0.829);
    font-size: 16px;
}
/* il button del navigation-bar */

button{
    background-color: white;
    color: black;
    border-radius: 18px;
    padding: 10px 15px;
    border: none;
    font-weight: 500;
}
i{
    font-size: 15px;
}
#dark{
    background-color: #242729;
    color: white;
}

/* header parte 2 Titolo e testo e i due "buttons" */

.head-section{
    text-align: center;
}

h1{
    margin-top: 70PX;
    font-size: 30PX;
    color: white;
}

.p-header{
    margin-top: 20px;
    color: white;
    font-size: 18px;
    width: 50%;
    margin: 30px auto 15px  ;
}

/* main */
/* main{
    background-color: #242729;
    opacity: 0.1;
} */
    /* I sezione con immagine + testo */
        /* regole per i container divisi a metà */
.container{
    display: flex;
    padding: 30px 0 30px 0;
    width: 80%;
    margin: auto;
    background-color: white;
}
.container-row-reverse{
    display: flex;
    padding: 30px 0 30px 0;
    flex-direction: row-reverse;
    background-color: ;
}

#wave{
    opacity: 0.1;
    width: 100%;

}
    
.image{
    margin: auto;
}
.text{
    width: 35%;
    margin: auto;

}
h2{
    font-size: 45px;
    text-align:start;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
    font-weight: 520;
    text-align: left;
    line-height: 2em;
    
}
    /* regole per il container in colonna */
.container-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 30px 0;
}
.text-column h2{
    width: 80%;
    margin: auto;
    font-size: 45px;
    text-align:center;
    margin-bottom: 20px;
}
.text-column p{
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 520;
    text-align: center;
    line-height: 2em;
}

/* regole per il testo verso la fine */
h3{
    text-align: center;
    padding: 30px;
}
#per-mac{
display: flex;
flex-direction: column;
}
#per-mac button{
    width: 12%;
    margin: auto;
    padding: 10px;
    margin-bottom: 75px;
}

/* ultima parte del main */
#per-mac h3{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size:  52% 52%;
    background-position: center;
}
#per-mac button{
    background-color: #7487D7;
    color: white;
}


/* regole per il footer */
footer{
    background-color: #23272A;
    color: white;
}

#container-footer{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

#container-footer ul{
list-style-type: none;

}

/* regole "br", logo sotto e tasto sotto */
hr{
    border: 2px solid gray;
    width: 80%;
    margin: auto;
}

#last-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 10px;
}

/* debug */

/* header{
    min-height: 450px;
    background-color: rgb(9, 42, 125);
    background-image: url(/img/jumbo.png);
    background-repeat: no-repeat;
    background-size:  100% 100%;;
} */
/* nav{
    min-height: 50px;
    background-color: chocolate;
} */
/* main{
    background-color: rgb(31, 130, 53);
} */
/* .container{
    background-color: burlywood;
} */